<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/"><img src="{{ '/assets/avatar.png' | absolute_url }}" onmouseover="this.src='{{ '/assets/avatar-smile.png' | absolute_url }}';" onmouseout="this.src='{{ '/assets/avatar.png' | absolute_url }}';" alt="Luke Stringer's Avatar"><a href="/"></a>

      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead"><i>@lukestringer90</i> | <a class="social" href="https://github.com/lukestringer90">{% include github.svg %}</a> <a class="social" href="https://www.linkedin.com/in/lukestringer90">{% include linkedin.svg %}</a>


    </div>

    <nav class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <div class="sidebar-nav-item"></a>
        <a href="/blog">Blog</a> - <a href="/talks">Talks</a> - <a href="/conference_notes">Notes</a> - <a href="/cv">CV</a>

      </div>

      <!-- <a class="sidebar-nav-item" href="/blog">Blog</a>
      <a class="sidebar-nav-item" href="/talks">Talks</a>
      <a class="sidebar-nav-item" href="/conference_notes">Conference Notes</a>
      <a class="sidebar-nav-item" href="/cv">CV</a> -->

    </nav>

  </div>
</div>
